<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="~/Content/ChooseCharacter.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
</head>

<body>
    <body class="body">
        <div class="PictureDiv">
            <!-- 背景图的div -->
            <img class="bulb" src="~/Content/images/bulb.png" />
            <img src="~/Content/images/background.jpg" class="Picture" />
            <div class="title">请选择您的学校</div>
        </div>
        <div class="hrDiv"></div>
        <div class="teacherDiv">
            <button class="teacherButton">老师</button>
        </div>
        <div class="studentDiv">
            <button class="studentButton">学生</button>
        </div>


        <script>
            $(document).ready(function () {
                $("#teacherButton").click(function () {
                    var type = '老师';
                    $.ajax({
                        url: '/me',
                        type: 'PUT',
                        data: JSON.stringify({
                            type: type
                        }),
                        dateType: 'json',
                        success: function (data) {
                            document.location.href = '/Account/TeacherBindingUI';
                        },
                        error: function (mesg) {
                            alert(mesg);
                        }
                    });
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $("#studentButton").click(function () {
                    var type = '学生';
                    $.ajax({
                        url: '/me',
                        type: 'PUT',
                        data: JSON.stringify({
                            type: type
                        }),
                        dateType: 'json',
                        success: function (data) {
                            document.location.href = '/Account/studentBindingUI';
                        },
                        error: function (mesg) {
                            alert(mesg);
                        }
                    });
                });
            });
        </script>



    </body>


</html>



