<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="LoginUI.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
</head>

<body>
    <div class="topBoardView" >
        <!-- 背景图的div -->
        <img  width="100%" height="250px" src="head-background.jpg" position="absolute">
        <img class="topLight" src="灯.svg">
		<div class="topTips">请先登录</div>
		<div class="topLine"/>
        
    </div>
 <div class="mainView">
	<div class="phoneID">手机号：</div>
	<div class="password">密码：</div>
	<input class="inputPhoneID"></input>
	<input class="inputPassword"></input>
    <button class="confirmButton">登录</button>
	<div class="tip1">还没有账号？</div>
	<div class="tip2">请先注册</div>
 </div>  
 
	
</body>
</html>


