<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="~/Content/RegisterUI.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
</head>

<body>
    <div class="topBoardView" >
        <!-- 背景图的div -->
        <img  width="100%" height="250px" src="~/Content/images/head-background.jpg" position="absolute">
        <img class="topLight" src="~/Content/images/灯.svg">
		<div class="topTips">注册</div>
		<div class="topLine"/>
        
    </div>
 <div class="mainView">
	<div class="phoneID">手机号：</div>
	<div class="password">密码：</div>
	<div class="confirmPassword">确认密码：</div>
	<input class="inputphoneID" id="phone">
	<input class="inputPassword" id="password">
	<input class="inputConfirmPassword" id="confirmPassword">
    <button class="confirmButton" id="register">注册</button>
 </div>  
 <script>
        $(document).ready(function () {
            $("#register").click(function () {
                var phone = $("#phone").val();
                var password = $("#password").val();
                var confirmPassword = $("#confirmPassword").val();
                if (phone == '' || password == '' || confirmPassword=='') {
                    alert("请填写手机号和密码");
                } else if (password != confirmPassword) {
                    alert("两次输入密码不一致");
                }
                else {
                    $.ajax({
                        url: '/register',
                        type: 'POST',
                        data: JSON.stringify({
                            phone: phone,
                            password: password,
                        }),
                        dateType:'json',
                        success: function (data) {
                                document.location.href = '/Home/ChooseCharater';
                        },
                        error: function (mesg) {
                            alert(mesg);
                        }
                    });
                }
            });
        });
    </script>
	
</body>
</html>


