<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="~/Content/RegisterUI.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
</head>

<body>
    <div class="PictureDiv">
        <!-- 背景图的div -->
        <img class="bulb" src="~/Content/images/bulb.png" />
        <img src="~/Content/images/background.jpg" class="Picture" />
        <div class="title">注册</div>
    </div>
    <div class="hrDiv"></div>
    <div class="mainView">
        <div class="studentID">手机号 :</div>
        <input class="inputstudentID">
        <img class="tipIcon" src="~/Content/images/warning.png">
        <div class="tipFont">提交后不能修改</div>
        <div class="Name">密码 :</div>
        <input class="inputName">
        <div class="school">
            确认密码 :

        </div>
        <input class="inputSchool">
        <div class="comfirmDiv">
            <button class="confirmButton">绑定</button>
        </div>

    </div>
 <script>
        $(document).ready(function () {
            $("#register").click(function () {
                var phone = $("#phone").val();
                var password = $("#password").val();
                var confirmPassword = $("#confirmPassword").val();
                if (phone == '' || password == '' || confirmPassword=='') {
                    alert("请填写手机号和密码");
                } else if (password != confirmPassword) {
                    alert("两次输入密码不一致");
                }
                else {
                    $.ajax({
                        url: '/register',
                        type: 'POST',
                        data: JSON.stringify({
                            phone: phone,
                            password: password,
                        }),
                        dateType:'json',
                        success: function (data) {
                                document.location.href = '/Home/ChooseCharater';
                        },
                        error: function (mesg) {
                            alert(mesg);
                        }
                    });
                }
            });
        });
    </script>
	
</body>
</html>


