<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>FixedGroupLeaderUI2</title>
    <link rel="stylesheet" href="../css/fixgroup.css"></link>
   	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="fullbackground">
    <div class="seminarblock">  
    	<div class="panel-body">	
			<div class="column0"><img src="../images/users.png"></img></div>
    		<div class="column2">讨论课<br/>固定分组</div>
         </div>
    </div>
    
    <div class="whitetitle">  
    	<div class="panel-body">	
			<div class="column4">队伍信息：</div>
    		<div class="column3"><button class="btnquit">辞职</button></div>
        </div>
    </div>

    <div class="block">
    	<div class="panel-body">
			<div class="column1"><img src="../images/user.png"></img></div>
    		<div class="column2">name<br/>number</div>
             <div class="column3 leaderp">队长</div>
        </div>
    </div>
    <div class="block">
        <div class="panel-body">
            <div class="column1"><img src="../images/user.png"></img></div>
            <div class="column2">name<br/>number</div>
        </div>  
    </div>
    <div class="block">
        <div class="panel-body">
            <div class="column1"><img src="../images/user.png"></img></div>
            <div class="column2">name<br/>number</div>
        </div>  
    </div>
    <div class="block">
        <div class="panel-body">
            <div class="column1"><img src="../images/user.png"></img></div>
            <div class="column2">name<br/>number</div>
        </div>  
    </div>
    <div class="block">
    	<div class="panel-body">
			<div class="column1"><img src="../images/user.png"></img></div>
    		<div class="column2">name<br/>number</div>
        </div>  
    </div>

    <div class="middlediv">
    <button type="button" class="btnleader">选题</button>
    </div>
    
</body>
</html>