
@{
    ViewBag.Title = "RandomGroupMemberUI";
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>RandomGroupChooseTopicUI2</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/RandomGroupLeaderUI.css"></link>
</head>

<body>
    <!--设置左上角的usersIcon-->
    <div class="blueUsersDiv1">
        <img src="~/Content/images/users.png" class='blueUsersIcon' />
        <strong>讨论课 4</strong>
        <strong class="blueUsersDiv2">随机分组</strong>
    </div>

    <div class="teamInfo">
        <strong>队伍信息:</strong>
    </div>

    <!--当选题未选完时框是蓝色的，要增加新框就直接复制-->
    <div class="blueTopicDiv">
        <img src="~/Content/images/user.png" class="userIcon"><img>
        <span class="name">刘xx</span>
        <div class="id">2432015220xxxx</div>
        <div class="leader">队长</div>
    </div>

    <div class="blueTopicDiv">
        <img src="~/Content/images/user.png" class="userIcon"><img>
        <span class="name">周xx</span>
        <div class="id">2432015220xxxx</div>
    </div>

    <div class="blueTopicDiv">
        <img src="~/Content/images/user.png" class="userIcon"><img>
        <span class="name">陈xx</span>
        <div class="id">2432015220xxxx</div>
    </div>

    <div class="blueTopicDiv">
        <img src="~/Content/images/user.png" class="userIcon"><img>
        <span class="name">易xx</span>
        <div class="id">2432015220xxxx</div>
    </div>

    <div class="blueTopicDiv">
        <img src="~/Content/images/user.png" class="userIcon"><img>
        <span class="name">李xx</span>
        <div class="id">2432015220xxxx</div>
    </div>


    <div class="teamInfo">
        <strong>选题:</strong>
    </div>

</body>
</html>
