<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>CourseUI</title>
<link href="../css/CourseUI.css" rel="stylesheet" type="text/css">
<!-- Bootstrap -->
<link href="../css/bootstrap.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="body" >
 <div class="head20">
	   <span  class="FONT1"> OOAD</span>
	   <img src="../images/nine.png" class="nineIcon"></img>
	</div>
<div class="box3">
	<p class="FONT12" > 讨论课4</p><!--蓝色选择框-->
	<p class="FONT2" style="margin-left: 60%;margin-top: 3%" > 11月6日至11月12日</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 12%"> 固定分组</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 21%"> 成绩：未完成</p>
	</div>
	
<div class="box4"> <!--灰色选择框-->
	<p class="FONT12"> 讨论课3</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 3%" > 10月3日至11月5日</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 12%"> 随机分组</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 21%"> 成绩：4</p>
	</div>
<div class="box4"> <!--灰色选择框-->
	<p class="FONT12"> 讨论课2</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 3%"> 10月23日至10月29日</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 12%"> 固定分组</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 21%"> 成绩：5</p>
	</div>
<div class="box4"> <!--灰色选择框-->
	<p class="FONT12"> 讨论课1</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 3%"> 10月16日至10月22日</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 12%"> 随机分组</p>
	<p class="FONT2" style="margin-left: 60%;margin-top: 21%"> 成绩：3</p>
	</div>	
</body>
</html>

