<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link href="RegisterUI.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
</head>

<body>
    <div class="topBoardView" >
        <!-- 背景图的div -->
        <img  width="100%" height="250px" src="head-background.jpg" position="absolute">
        <img class="topLight" src="灯.svg">
		<div class="topTips">注册</div>
		<div class="topLine"/>
        
    </div>
 <div class="mainView">
	<div class="phoneID">手机号：</div>
	<div class="password">密码：</div>
	<div class="confirmPassword">确认密码：</div>
	<input class="inputphoneID"></input>
	<input class="inputPassword"></input>
	<input class="inputConfirmPassword"></input>
    <button class="confirmButton">注册</button>
 </div>  
 
	
</body>
</html>


