
@{
    ViewBag.Title = "Teacher_MainUI";
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@{ViewBag.Title}</title>
    <link href="~/Content/main.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link href="file:///Macintosh HD/Users/mac/Documents/Unnamed Site 2/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="box5" style="position:relative;">
        <!-- 背景图的div -->
        <img style="position:absolute;margin-left: 12%;margin-top: 10%" src="~/Content/images/user.svg" width=100 height=100 />
        <img src="~/Content/images/head-background.jpg" width="100%">
        <div class="FONT4" style="position:absolute; z-index:2; top:20px">姓名：邱明</div>
        <div class="FONT4" style="position:absolute; z-index:2; top:60px">学号：2432142232534</div>
    </div>

    <div class="box3">
        <p class="FONT11"> J2EE</p>
    </div>
    <div class="box3">
        <p class="FONT11"> J2EE</p>
    </div>
    <div class="box3">
        <p class="FONT11"> J2EE</p>
    </div>
    <div class="box3">
        <p class="FONT11"> J2EE</p>
    </div>
</body>


</html>



